<div class="container">
  <h1>Tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to task.title, task_path(task) %> <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></li>
    <% end %>
  </ul>

<%= link_to new_task_path do %>
<i class="fa-solid fa-plus"></i>Add a new task
<% end %>

<%# <%= link_to 'Add a new task', new_task_path %>
</div>
