<div class="container">
  <div class="row mtb-50">
    <div class="col-6 offset-3">
      <div class="bl pl-20">
      <h1>Tasks</h1>
      <ul>
        <% @tasks.each do |task| %>
          <li><%= link_to task_path(task) do %> <i class="fa-solid fa-note-sticky pr-20px"></i><%= task.title %>
          <% end %>
          <%= link_to task_path(task), method: :delete do%>
          <i class="fa-solid fa-trash-can pl-20"></i>
          <% end %></li>
        <% end %>
      </ul>
      <%= link_to new_task_path do %>
        <i class="fa-solid fa-plus pr-20px"></i>Add a new task
      <% end %>
      </div>
    </div>
  </div>
</div>
