<div class='container'>
  <h1><%= @task.title %></h1>

  <h2>
    <%= @task.details %>
  </h2>
  <p>
    <% if @task.completed == true %>
      <i class="fa-solid fa-circle-check"></i>Task completed
    <% else %>
      <i class="fa-solid fa-circle-xmark"></i>Task not completed
    <% end %>
  </p>

  <%= link_to "Edit", edit_task_path(@task) %>
</div>
